* {
	box-sizing: border-box;
}

.wrap {
 		/* Responsive  */
 		width: 95%; 
 		margin: 0 auto;
 		margin-bottom: 50px;
 		border: solid 1px #d5d5d5;
 		overflow: hidden; /* 避免溢出, 遮住 .wrap border */
 }

	.page-main {
		border-left: solid 1px #d5d5d5;
		border-right: solid 1px #d5d5d5;
	}

	.page-sidebar,
	.page-main,
	.page-ads { 
		padding: 15px;
	}