.wrap {
		position: relative;
	}

/* Begin 2 Columns Layout */
	.page-sidebar {
		width: 200px;
		position: absolute;
		left:0;
		top:0;
	}

	.page-main{
		margin-left: 200px;  
	}

	/* End 2 Columns Layout */

/* Begin 3 Columns Layout */
	.page-main{
		margin-right: 200px; 
		border-right: solid 1px #d5d5d5; 
	}

	.page-ads { 
		width: 200px;
		position: absolute;
		top: 0;
		right: 0;
	}
	
	/* End 3 Columns Layout */