/* Begin Media Query */

@media only screen and (max-width: 767px) {
	/* For small devices only */
	.page-sidebar, .page-ads {
		margin-left: 0;
		width: 100%;
	}
	.page-main {
		border: none;
		margin: 0;
	}
}
 
/* End Media Query */